<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
       <div class="container">
         <form action="/usuario/login" method="POST" class="crearregistro">
             <label class="titulo-login">Ingresá</label>
            
             <div class="control-etiqueta">
                <label class="etiqueta-formulario">Usuario</label>
             </div>
             <div class="control-formulario">
                 <input type="email" name="email" class="input-form" id="inputEmail" placeholder="" value="<%= locals.old ? old.email : null %>">
                 <div>
                  <small class="text-danger erEmail"></small>
                </div>
                 <% if(typeof(errors) != 'undefined' && errors.email){%>
                    <span class="text-danger">
                      <%= errors.email.msg %>
                    </span>
                 <%}%>
            </div>
             <div class="control-etiqueta">
                <label class="etiqueta-formulario">Contraseña</label>
             </div>
             <div class="control-formulario">
                 <input type="password" name="password" class="input-form" id="inputPassword" placeholder="">
                 <div>
                  <small class="text-danger erPassword"></small>
                </div>
                 <% if(typeof(errors) != 'undefined' && errors.password){%>
                    <span class="text-danger">
                      <%= errors.password.msg %>
                    </span>
                 <%}%>    
                </div>
                <div class="control-checkbox">
                    <input type="checkbox" name="terminosycondiciones" value="tyc" class="checkbox">
                    <label for="etiqueta-checkbox">Recordarme</label>
                </div>
             <div class="boton">
                 <button type="submit" class="boton-continuar" id="btnSubmit" >Continuar</button>
             </div>
             <div class="boton-registro">
                <button type="submit" class="boton-crear"><a href="/usuario/register">Registrate</a></button>
            </div>
         </form>
       </div>
    </main>

    <%- include('./partials/footer.ejs') %>
    <script src="/js/login.js"></script>
</body>
</html>